:root{
    --standardDarkBorder: 2px solid black;
}

*{
    box-sizing: border-box;
    transition: 0.3s;
}

body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
}

input.light{
    background-color: black;
}

input.black{
    background-color: red;
}


/*---TableOpener---*/
.tableOpener{

}

.tableOpenerColors{
    display: flex;
    flex-wrap: wrap;
    border: var(--standardDarkBorder);
}

/*---Message---*/
.messageWindow{
    position: fixed;
    bottom: 0;
    right: 0;
}

