:root{
    --standardDarkBorder: 2px solid black;
    --lightColor: #FFFFFF;
    --darkColor: #000000;


    --lightBackground: #EEEEEE;
    --paperBackground: #DDDDDD;

    --darkBackground: #111111;
    --middleDarkBackgound: #222222;
    --lightDarkBackground: #444444;
}

*{
    box-sizing: border-box;
    transition: 0.3s;
}


body{
    margin: 0;
    padding: 0;
}

/*---___Light___---*/

.App{
    background-color: var(--paperBackground);
    min-height: 100vh;
}

/*---Header---*/


header{
    display: flex;
}

.filterTools{
    background-color: red;
}

.filterTools .sortBy{
    color: red;
}

.filterTools .filterTools{

}

/*---TableOpener---*/
.tableOpener{

}

.tableOpenerColors{
    display: flex;
    flex-wrap: wrap;
    border: var(--standardDarkBorder);
}



/*---Authorization---*/



/*---Message---*/
.messageWindow{
    position: fixed;
    bottom: 0;
    right: 0;
}


/*---User---*/
.userProfile{

}







/*---___Dark___---*/

.App.dark{
    background-color: var(--middleDarkBackgound);
}

/*---Header---*/
header.dark{
    color: var(--lightColor);
    background-color: var(--darkBackground);
}

.filterTools.dark .sortBy{
    
}

.filterTools.dark .filterTools{
    
}


/*---User---*/
.userProfile.dark{
    background-color: var(--darkBackground);
}

