*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: red
}

header{
    display: flex;
}







/*---Message---*/
.messageWindow{
    position: fixed;
    bottom: 0;
    right: 0;
}